# pandas 2   （书本第七章+第八章）

## 第七章 数据清洗和准备

### 1.数据缺失 -- 处理

In [5]:
import pandas as pd
import numpy as np
string_data = pd.Series(['advark', 'artical', np.nan, 'video'])
string_data

0     advark
1    artical
2        NaN
3      video
dtype: object

In [6]:
string_data.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [7]:
np.any(pd.isnull(string_data))   # 只要含有缺失值，就返回 True

True

#### dropna  去除缺失值  (不改变愿数据)

In [8]:
# Series 过滤缺失值
string_data.dropna()

0     advark
1    artical
3      video
dtype: object

In [9]:
string_data

0     advark
1    artical
2        NaN
3      video
dtype: object

In [15]:
# DataFrame  过滤缺失值
data = pd.DataFrame([
    [1, 6.2, 3.5],
    [1, np.nan, np.nan],
    [np.nan, np.nan, np.nan],
    [np.nan, 2, 9.2]
])
data

     0    1    2
0  1.0  6.2  3.5
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  2.0  9.2

In [16]:
data.dropna()   # dropna 默认过滤掉 含有缺失值的所在整行

     0    1    2
0  1.0  6.2  3.5

In [18]:
data.dropna(how='all')   # how=‘all' 只丢掉 全为NA的行

     0    1    2
0  1.0  6.2  3.5
1  1.0  NaN  NaN
3  NaN  2.0  9.2

In [20]:
data[4] = np.nan
data

     0    1    2   4
0  1.0  6.2  3.5 NaN
1  1.0  NaN  NaN NaN
2  NaN  NaN  NaN NaN
3  NaN  2.0  9.2 NaN

In [21]:
data.dropna(how='all', axis=1)   # axis=1 删除NA所在列

     0    1    2
0  1.0  6.2  3.5
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  2.0  9.2

In [23]:
# thresh=int 参数的使用
df = pd.DataFrame(np.random.randn(7, 3))
df.head(3)

          0         1         2
0  1.307645 -0.532792 -1.122756
1  1.048439  1.643905 -0.468798
2 -1.869893 -1.131329  1.404807

In [26]:
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df

          0         1         2
0  1.307645       NaN       NaN
1  1.048439       NaN       NaN
2 -1.869893       NaN  1.404807
3 -1.894088       NaN -2.267405
4 -0.990042 -1.686458 -1.659078
5 -0.008793  0.899079 -1.449683
6  1.196453 -0.605437  0.793849

In [36]:
df.dropna(thresh=2)

          0         1         2
2 -1.869893       NaN  1.404807
3 -1.894088       NaN -2.267405
4 -0.990042 -1.686458 -1.659078
5 -0.008793  0.899079 -1.449683
6  1.196453 -0.605437  0.793849

#### 填充缺失值  -- fillna()

In [ ]:
data[2].fillnall(data[2].mean(), inplace=True)   # inplace=True 会修改数据