In [ ]:
# 加班比较多，慢慢做...稍安勿躁...

## 1. 读取数据，清洗数据

In [25]:
import numpy as np
import pandas as pd

# 从 txt 文件中读取数据
# list(open('../CDNOW.txt'))
cd_data = pd.read_table('../CDNOW.txt', sep='\s+')
# 添加字段： 用户id, 日期， 销量， 金额
cd_data.columns = ['user_id', 'date', 'count', 'value']
cd_data.head()

   user_id      date  count  value
0        2  19970112      1  12.00
1        2  19970112      5  77.00
2        3  19970102      2  20.76
3        3  19970330      2  20.76
4        3  19970402      2  19.54

In [26]:
cd_data.tail()

       user_id      date  count  value
69653    23568  19970405      4  83.74
69654    23568  19970422      1  14.99
69655    23569  19970325      2  25.74
69656    23570  19970325      3  51.12
69657    23570  19970326      2  42.96

In [27]:
cd_data.columns

Index(['user_id', 'date', 'count', 'value'], dtype='object')

In [28]:
cd_data.index

RangeIndex(start=0, stop=69658, step=1)

In [ ]:
# null 数据

## 2. 商品销售 静态分析

### 各订单 购买数量分析

In [ ]:
# 订单总数 / 排序 / 绘图

In [33]:
cd_data['count'].sum()    # 总销量

167880

In [37]:
cd_data['count'].sort_values(ascending=False).head(10)    # 销量排序

27631    99
69415    70
65949    63
65950    56
26685    56
23564    47
32494    43
45313    42
4424     41
4422     40
Name: count, dtype: int64

## 3. 商品销售 动态分析

## 4. 用户消费行为 静态分析

## 5. 用户消费行为 动态分析